appdirs==1.4.4
attrs==19.3.0
beautifulsoup4==4.9.1
black==19.10b0
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
cycler==0.10.0
fake-useragent==0.1.11
idna==2.10
int-date==0.1.8
kiwisolver==1.2.0
lxml==4.5.2
matplotlib==3.2.2
multitasking==0.0.9
numpy==1.19.0
pandas==1.0.5
parse==1.15.0
pathspec==0.8.0
pyee==7.0.2
pyparsing==2.4.7
pyppeteer==0.2.2
pyquery==1.4.1
python-dateutil==2.8.1
pytrends==4.7.3
pytz==2020.1
regex==2020.6.8
requests==2.24.0
requests-html==0.10.0
simplejson==3.17.0
six==1.15.0
soupsieve==2.0.1
stockstats==0.3.1
toml==0.10.1
tqdm==4.47.0
typed-ast==1.4.1
urllib3==1.25.9
w3lib==1.22.0
websockets==8.1
yahoo-fin==0.8.6
